<section class="section">
  <div class="container">
    <%= form_with(model: comment, local: true) do |form| %>
      <% if comment.errors.any? %>
        <ul>
          <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="field">
        <label class="label">Mensaje</label>
        <div class="control">
          <%= form.text_area :body, class: 'textarea', rows: 5 %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= form.submit 'Enviar', class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
